body{
    text-align: center;
    overflow-x: hidden;
}

.game{
    padding: 1rem 5rem;
}

.header{
    background-color: red;
    color: white;
    padding: 5rem 8rem;
    font-family: 'Bungee Shade', cursive;
}

div.header h1{
    font-size: 3.5rem;
}

.btn{
    color: white;
    padding: 0.75rem 2.5rem;
    background-color: red;
}

.btn:hover{
    color: white;
    background-color: #cc0000;
}

div.info li{    
    float: left;
    list-style: none;
    padding: 0.25rem;
    visibility: hidden;
}

div.score{
    background-color: red;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-top: 0.75rem;

}

#stat{
    margin-top: 2rem;
}

#pl,
#cp{
    color: green;
    visibility: hidden;
    font-family: 'Audiowide', cursive;
}

#start-again{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2;
}

.pl-info{
    color: red;
    font-family: 'Audiowide', cursive;
}

#but-row{
    margin-top: 1.5rem;
}

#bot{
    margin-bottom: 1rem;
}

#bot p{
    margin-top: 1rem;
    color: red;
    font-family: 'Audiowide', cursive;
}

#round{
    margin-top: 5rem;
}

@media (max-width : 1024px){
    div.header h1{
        font-size: 7rem;
    }
    
    div.game h2,
    div.game h3{
        margin-top: 2rem;
        font-size: 4rem;
    }

    #start-again{
        font-size: 3.5rem;
    }

    #bot p{
        font-size: 2.25rem;
    }

    div.col-lg-4{
        max-width: 100%;
    }

    .rock,
    .paper,
    .scissor{
        margin: 1.5rem 0;
    }

    .med{
        padding: 0.25rem 4rem;
        font-size: 2rem;
    }

    #round{
        font-size: 2.5rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    #user,
    #cpu{
        margin-top: 2.5rem;
    }

    #cp h1,
    #pl h1{
        font-size: 5rem;
        margin-top: -1.75rem;
        margin-bottom: 1.5rem;
    }

}